@charset "EUC-KR";
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
  background-color: #207245;
}

#sourceForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 60%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}

input {	
	font-size: 17px;
	padding: 4px;
	font-family: Raleway;
	border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

select {
  font-size: 17px;
  padding: 3px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;	
}

.file_input label {
    position:relative;
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
    overflow:hidden;
    width:100px;
    height:30px;
    background:#777;
    color:#fff;
    text-align:center;
    line-height:30px;
}
.file_input label input {
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
}
.file_input input[type=text] {
    vertical-align:middle;
    display:inline-block;
    width:200px;
    height:28px;
    line-height:28px;
    font-size:17px;
    padding:0;
    border:0;    
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 5px 20px;
  margin: 0px;  
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}


/* For Source information */
.type {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* .type button */
.type button {
    background-color: #f1f1f1;
    float: left;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.type button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.type button.active {
    background-color: #ccc;
}

/* Style the tab content */
.typecontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.wdcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


.srcLabel {
	margin: 10px;
	width:30%;
	text-align: right;	
	display: inline-block;
}

.srcInput {
	margin: 10px;
	width:60%;
	text-align: left;	
	display: inline-block;
}

ul {	
	margin: 0px;
	padding: 0px;
	text-align: center;
	width: 70%;		
	margin-left: auto;
	margin-right: auto;
}

li {
	margin: 3px;
	width: 100%;
	background-color: #f1f1f1;	
	padding: 10px;
}

.sortable {
	list-style-type: none;
}

.updown {	
	font-size: 20px;
	float: left;
}

.del { 
	float: right;
	font-size: 20px;
	color: red;
}

.add {
	font-size: 20px;
	color: green;
}

.divCenter {
	text-align: center;
}

/* For CheckBox..! */
.checkEngine {	
	width: 70%;
	margin-left: auto;
	margin-right: auto;	
}

.container {
    display: block;
    position: relative;
    padding-left: 50px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 17px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #4CAF50;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.useint {	
	display: none;
	width: 65%;		
	margin-left: auto;
	margin-right: auto;
	padding: 10px;	
	border: 1px solid #ccc;	
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */ 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {	
    background-color: white;
    margin: 5px auto; /* 15% from the top and centered */
    padding: 0px;    
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}


.modal-header {	
	padding-left: 30px;
	text-align: left;	
}

.modal-body {
	width: 100%;	
	padding: 30px 10px 30px 10px;
	text-align: center;
}

.modal-body table {
	width: 99%;
	border-collapse: collapse;
	padding: 10px;
}

.modal-body th {
	border: 1px solid #ddd;
	background-color: #ddd;
	margin: 0px;
	padding: 10px;
}

.modal-body td {
	border-bottom: 1px solid #ddd;	
	margin: 0px;
	padding: 10px;
}

.modal-body-chooser {
	text-align: left;
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 30px;
}

.modal-footer {	
	padding: 10px;	
	text-align: right;
	background-color: #e1e1e1;
}

/* Extra styles for the cancel button */
.cancelbtn {    
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {	
  width: 20%;  
}


/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;    
    color: #f1f1f1;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

table {
	width: 90%;	
}

.target {		
	text-align: left;
	width: 100%;		
	margin-left: auto;
	margin-right: auto;
}

.radioEngine {	
	width: 80%;
	margin-left: auto;
	margin-right: auto;	
}

/* The container */
.radiocontainer {
    display: block;
    position: relative;
    padding-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;    
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radiocontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;    
}

/* Create a custom radio button */
.radiocheckmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiocontainer:hover input ~ .radiocheckmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radiocontainer input:checked ~ .radiocheckmark {
    background-color: #e87e0c;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiocheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiocontainer input:checked ~ .radiocheckmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radiocontainer .radiocheckmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.radiolabelleft {
	float: left;
	display: inline-block;	
	width: 70%;	
}

.radiolabelright {
	float: left;
	display: inline-block;
	text-align: center;
	width: 30%;
}

#choosed-test-data {
	margin-left: 10px;	
}

