@CHARSET "EUC-KR";
body {
    /*font-family: Georgia, "Times New Roman", Times, serif;*/
    color: #555;
}

.wrapper{
	background-color: #99c2ff;
	margin: 0 auto;
	max-width: 1920px;
	min-width: 850px;
	padding: 20px;
}

.container #contents{
	padding:10px;
	min-height: 300px;
	background-color: #ffffff;
	opacity: .8;
	margin: 0 auto;
	display: -webkit-flex;
	display:         flex;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-justify-content: center;
	        justify-content: center;
}

.container #words{
	margin-top: 30px;
	min-height: 30px;
	padding: 20px;
	background-color: #E0E0E0;
	opacity: .8; 
}

.span_wc{
	background-color: #ffffff;
	color: #5522ff;
	padding: 5px;
	margin: 5px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0);
	cursor: pointer;
}
.span_wc:hover{
	text-shadow: 0 0 3px rgba(179, 179, 255, 1);
	cursor: hand;
}
.span_word{
	background-color: #ffffff;
	color: #3333ff;
	padding: 5px;
	margin: 5px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0);
	cursor: pointer;
}
.span_word:hover{
	color: transparent;
    text-shadow: 0 0 3px rgba(120, 120, 200, 1);
    cursor: hand;
}
#word-cloud{
	background-color: #ffffff;
	height: 600px;
	width: 800px;
}